*.o
*.a
*.so
*.pyc
*.save.*
*.chkpt.*
*.info
*.vt[u,p]
confdefs.h
snapshot.diff
dynearthsol[2,3]d
libadaptivity/Makefile
libadaptivity/*/Makefile
libadaptivity/include
libadaptivity/lib
libadaptivity/CMakeFiles
*.code*
orig-*
.vscode
valgrind*