*.o
config.*
*.mod
*.mk
libadaptivity/lib
libadaptivity/CMakeFiles
*.a
*.so
*.save.*
*.chkpt.*
*.info
*.vtu
ann/lib
snapshot.diff
dynearthsol[2,3]d
libadaptivity/Makefile
libadaptivity/*/Makefile
confdefs.h
libadaptivity/include
