[sim]
modelname = zzz

max_steps = 10
max_time = 3.0e10

output_step_interval = 2
output_time_interval = 1e10

#is_restarting = true

[mesh]
# dimension of the box (in meters)
xlength = 13
ylength = 10
zlength = 10
resolution = 2

